@media  (max-width: 768px) {


.tf-button-link {
font-size: 1.2rem !important; 
}


.Cruditè {
    flex-direction: column !important;
    padding-bottom: 5rem !important;
    p {
        font-size: 1rem !important;
    }
    img {
        padding-top: 2rem;
        max-width: 80vw !important;
    }

}

.per_cominciare {
    flex-direction:column-reverse !important;
    padding-bottom: 5rem !important;
    p {
        font-size: 1rem !important;

    }
    img {
        padding-top: 2rem;
        max-width: 80vw !important;
    }

}

.pole_position {
    flex-direction: column !important;
    padding-bottom: 5rem !important;
    p {
        font-size: 1rem !important;

    }
    img {
        padding-top: 2rem;
        max-width: 80vw !important;
    }

}

.seconda_chance {
    flex-direction: column-reverse !important;
    padding-bottom: 5rem !important;
    p {
        font-size: 1rem !important;

    }
    img {
        padding-top: 2rem;
        max-width: 80vw !important;
    }
}

.dolci {
flex-direction: column !important;
padding-bottom: 5rem !important;

    p {
        font-size: 1rem !important;

    }
    img {
        padding-top: 2rem;
        max-width: 80vw !important;
    }


}
}


@media  (max-width: 992px) {
    .mary {
 flex-direction: column !important;

 p {
     padding: 0 2rem !important;
 }

 img {
     padding-top: 2rem;
     max-width: 80vw !important;
 }
}
}


@media (min-width: 1900px) {
    .mary {
        img {
            max-width: 20vw !important;
        }
    }
}




