@media  (max-width: 768px) {
   
    .mary {
    flex-direction: column !important;

    p {
        padding: 0 2rem !important;
    }

    img {
        padding-top: 2rem;
    }
}

.tf-button-link {
font-size: 1.2rem !important; 
}


.Cruditè {
    flex-direction: column !important;
    padding-bottom: 5rem !important;
    p {
        font-size: 1rem !important;
    }
    img {
        padding-top: 2rem;
    }

}

.per_cominciare {
    flex-direction:column-reverse !important;
    padding-bottom: 5rem !important;
    p {
        font-size: 1rem !important;

    }
    img {
        padding-top: 2rem;
    }

}

.pole_position {
    flex-direction: column !important;
    padding-bottom: 5rem !important;
    p {
        font-size: 1rem !important;

    }
    img {
        padding-top: 2rem;
    }

}

.seconda_chance {
    flex-direction: column-reverse !important;
    padding-bottom: 5rem !important;
    p {
        font-size: 1rem !important;

    }
    img {
        padding-top: 2rem;
    }
}

.dolci {
flex-direction: column !important;
padding-bottom: 5rem !important;

    p {
        font-size: 1rem !important;

    }
    img {
        padding-top: 2rem;
    }


}
}




