.preno_menu {
    padding-top: 2rem;
}

.menu_title {
    padding-top: 5rem;
    text-align: center;
    font-size: 3rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
}

.menu {
    font-size: 2.5rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
    background: #fff;


    .menu_list {
        display: flex;
        flex-direction: column;


        .Cruditè {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                p {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }
            }

        }

        .per_cominciare {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                p {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }

        }
    }

        .pole_position {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                .p_menu {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }

            }
        }

        .seconda_chance {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                p {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }

            }
        }

        img {
            max-width: 49.3vw;
        }
    }

    .dolci {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .titlemini_menu {
            text-align: center;
            padding: 0 5vw;

            p {
                padding-top: 2rem;
                font-size: 1.3rem;
            }

        }
    }

    img {
        max-width: 49.3vw;
    }
}


