.btn_home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4rem;
    

    a{

    :hover{
        font-weight:700;
        background:none!important;
        color: #0066be;
        border-color:#0066be;
        transition: 0.3s ease-in-out;
    }
    }

.btn {
    font-family:Raleway,sans-serif;
    border-color: #309fff;
    color: #309fff;
    width: 30vw;
    font-size: 1.4rem;
    height:42px;
    border-radius:4px;


}

}

.whats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem;

    a {
        text-decoration: none;
    }

    :hover{
        font-weight:700;
        background:none!important;
        color: #006a09;
        border-color:#0066be;
        transition: 0.3s ease-in-out;
    }
}

.preno_menu {
    padding-top: 1rem;

}

.menu_title {
    padding-top: 2rem;
    text-align: center;
    font-size: 4rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 200;
}

.menu {
    font-size: 2.5rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
    background: #fff;
    padding: 3rem 0;


    .menu_list {
        display: flex;
        flex-direction: column;


        .Cruditè {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10rem;

            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                p {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }
            }

        }

        .per_cominciare {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10rem;

            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                p {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }

        }
    }

        .pole_position {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10rem;


            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                .p_menu {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }

            }
        }

        .seconda_chance {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10rem;


            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                p {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }

            }
        }

        img {
            max-width: 49.3vw;
        }
    }

    .dolci {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10rem;


        .titlemini_menu {
            text-align: center;
            padding: 0 5vw;

            p {
                padding-top: 2rem;
                font-size: 1.3rem;
            }

        }
    }

    img {
        max-width: 49.3vw;
    }
}


