.tf-widget-button{
    opacity:1;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;border:1px 
    solid;
    z-index:9999999;
    background-color:#fff;
    border-radius:4px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height:42px;
    border-color:#309fff;
    color:#309fff;
    width: 30vw;
    margin: 0 auto 2rem;
}

    .tf-button-link{
        text-decoration:none;
        color:#309fff;
        font-family:Raleway,sans-serif;
        font-size:1.4em;
        width:100%;
        text-align:center;
        font-weight: 600;
    }
    .tf-button-link:hover{
            font-weight:700;
            background:none!important;
            color: #0066be;
            border-color:#0066be;
            transition: 0.5s ease-in-out;
        }
    

        iframe {
            max-width: 100%; 
            height: auto;    
            border: 0;       
          }


          .booking {
            display: flex;
            flex-direction: row;
            justify-content: center;
        
            .thefork{
                border:none;
                overflow: scroll;
                }
    
                }

                
.tripadv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;

    .widCOEImg {
        max-width: 4rem;
    }
}