@import 'responsive','widget','stylemenu','bannercookie';

.background_index {
    background: white;

    .loghi {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img {
            max-width: 15rem;
            display: block;
        }
    }
}

main {

    .carousel-item img {
        display: block; /* Rende l'immagine un blocco per facilitarne il centramento */
        max-width: 100%; /* Impedisce che l'immagine superi la larghezza della pagina */
        height: auto;
        margin: 0 auto; 

    }

    .background_main {
        padding: 3rem 0;
        background: #fff;
        text-align: center;
        color: #2a2a2a;

        .title1 {
            padding: 2rem 5rem 2rem;
            font-size: 2rem;
            font-family: "Raleway", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style:normal;
            color: #0066be;
        }

        .title2 {
            padding-bottom: 3rem;
            font-size: 1.5rem;
            font-family: "Raleway", serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: italic;

        }

        .mary {
            padding: 4rem 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            img {
                max-width: 40vw;
                height: auto;
                box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3), 2px 2px 5px rgba(0, 0, 0, 0.3); 
             }

            }

        .description_cucinav {
            display: block;
            padding: 0 4rem;
            font-family: "Merriweather", serif;
            font-weight: 400;
            font-style: normal;        
        }
    }

    }



.separ {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
        padding: 3rem 0 2rem ;
        max-width: 60vw;
        height: auto;
    }
}

.contatti {

    text-align: center;

    h2{
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    }

    .adress {
        font-size: 1.1rem;
        text-align: center;

    }
  
    .social {

        .social_title {
            text-align: center;
            font-family: "Raleway", serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: italic;
            font-size: 1.2rem;

        }
            .social-icons {
                display: flex;
                justify-content: center;
                padding: 1rem 0 2rem;
                font-size: 2rem;


                a :hover {
                    color: #309fff;
                    transition: 0.5s ease-in-out;
                }

                .fab {
                    padding: 0 2rem;
                    color: #000;

                }
            }
        }

        .cell {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 300;
            padding-top: 1rem;
        
            :hover{
                color: #0066be;
                transition: 0.3s ease-in-out;
            }
        
            a{
            text-decoration: none;
            color: #000;
            font-weight: 400;
        
            }
        }
}

.btn_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
    

    a{

    :hover{
        font-weight:700;
        background:none!important;
        color: #0066be;
        border-color:#0066be;
        transition: 0.3s ease-in-out;
    }
    }

.btn {
    font-family:Raleway,sans-serif;
    border-color: #309fff;
    color: #309fff;
    width: 30vw;
    font-size: 1.4rem;
    height:42px;
    border-radius:4px;


}

}

footer {
    border-top: solid 2px #0066be;
    text-align: center;
    margin: 1rem 0;
    padding-top: 1rem;
}