.background_index {
    background: white;

    .loghi {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img {
            max-width: 15rem;
        }
    }
}

main {

    .carousel-item img {
        display: block; /* Rende l'immagine un blocco per facilitarne il centramento */
        max-width: 100%; /* Impedisce che l'immagine superi la larghezza della pagina */
        height: auto;
        margin: 0 auto; 

    }

    .background_main {
        padding: 3rem 0;
        background: #fff;
        text-align: center;
        color: #2a2a2a;

        .title1 {
            padding: 2rem 10rem 0;
            font-size: 2rem;
            font-family: "Raleway", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style:normal;
            color: #0066be;
        }

        .title2 {
            padding-bottom: 2rem;
            font-size: 1.5rem;
            font-family: "Raleway", serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: italic;

        }

        .description_cucinav {
            padding: 0 10rem;
            font-family: "Merriweather", serif;
            font-weight: 400;
            font-style: normal;        
        }

    }



    .booking {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        .thefork{
            border:none;
            overflow: scroll;
            }
            /* Media queries widget */ 
            @media only screen and (max-width : 320px) { 
                .thefork{
                min-height: 840px;
                }
            }
            @media only screen and (min-width : 321px) and (max-width : 516px){
                .thefork{
                min-height: 650px; 
                }
            }
            @media only screen and (min-width : 517px) { 
                .thefork{
                min-height: 550px; 
                }
            }
    }

    .cell {
        text-align: center;
        font-size: 1.5rem;
        padding: 3rem 0;

        :hover{
            color: #0066be;
            transition: 0.3s ease-in-out;
        }

        a{
        text-decoration: none;
        color: #000;
        font-weight: italic;

     
        }
    }

.menu_title {
    padding-top: 5rem;
    text-align: center;
    font-size: 3rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
}

.menu {
    font-size: 2.5rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #fff;
    background: #000;


    .menu_list {
        display: flex;
        flex-direction: column;


        .Cruditè {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                p {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }
            }

        }

        .per_cominciare {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                p {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }

        }
    }

        .pole_position {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                p {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }

            }
        }

        .seconda_chance {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .titlemini_menu {
                text-align: center;
                padding: 0 5vw;

                p {
                    padding-top: 2rem;
                    font-size: 1.3rem;
                }

            }
        }

        img {
            max-width: 49.3vw;
        }
    }

    .dolci {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .titlemini_menu {
            text-align: center;
            padding: 0 5vw;

            p {
                padding-top: 2rem;
                font-size: 1.3rem;
            }

        }
    }

    img {
        max-width: 49.3vw;
    }
}


}

.contatti {
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 100;
    padding-top: 3rem;


    p {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2rem;


        :hover{
            color: #0066be;
            transition: 0.3s ease-in-out;
        }

        a{
        text-decoration: none;
        color: #000;
        font-weight: italic;

        }

    }


    .social {
        padding-top: 4rem;

        .social_title {
            text-align: center;
            font-family: "Raleway", serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: italic;

        }
            .social-icons {
                display: flex;
                justify-content: center;
                padding: 1rem 0;


                a :hover {
                    color: #309fff;
                    transition: 0.5s ease-in-out;
                }

                .fab {
                    padding: 0 2rem;
                    color: #000;

                }
            }
        }
}


.tripadv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4rem;

    .widCOEImg {
        max-width: 4rem;
    }
}

.TA_cdsscrollingravewide {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    text-align: center;
    margin-top: 1rem;
}

.tf-widget-button{
    opacity:1;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;border:1px 
    solid;z-index:9999999;
    background-color:#fff;
    border-radius:4px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height:42px;
    border-color:#309fff;
    color:#309fff;
    width: 100%;
    min-width: 192px;
    max-width: 520px; 
    margin: 0 auto;
}

    .tf-button-link{
        text-decoration:none;
        color:#309fff;
        font-family:Raleway,sans-serif;
        font-size:1.4em;
        width:100%;
        text-align:center;
    }
    .tf-button-link:hover{
            font-weight:700;
            background:none!important;
            color: #0066be;
            border-color:#0066be;
            transition: 0.5s ease-in-out;
        }
    

